{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
</head>
<body background='{% static 'images/back.jpeg' %}' style="background-position: center; background-repeat:no-repeat;">
    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
        {% block javascript %}{% endblock %}
    </div>
        {% include "footer_buttom.html" %}
</body>
</html>