{% include 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<body background='{% static 'images/back.jpeg' %}' style="background-position: center; background-repeat:no-repeat;" class="login_title">
{% block content %}
<div class="container">
    <div class="row text-center vertical-middle-sm login_title">
        <h1 class="text-center">重置密码</h1>
        <p>我们将会向你的邮箱发送一个链接,如果你的邮箱账号有效，你将收到信息，点击即可重置密码.</p>
        <p>如果你没有收到邮件，请检查你输入的邮件地址是否正确并耐心等待.</p>
        <a class="btn btn-success btn-sm" href='{% url 'account:user_login'%}'>返回登录</a>
    </div>
</div>
{% endblock %}
</body>
{% include 'footer.html' %}
</html>