{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static '/css/lunbo.css' %}">
</head>
<body style="background: #f0efd0" onload=alert("欢迎您，{{ user.username }}")>
    <div class="lunbo">
        {% include 'header.html' %}
        {% block content %}{% endblock %}
        {% include "footer.html" %} {# 不固定在底部，用于内容多的，随时移动的 #}
        {% block javascript %}{% endblock %}
    </div>
</body>
</html>