{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<div class="modal-footer" style="background-color:#45443B;opacity: 90%;
    position: fixed;bottom: 0;width: 100%;">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <p class="text-center login_title">
        <a class="login_title" href="">关于我们 |</a>
        <a class="login_title" href="">联系我们 |</a>
        <a class="login_title" href="">爱心支持 |</a>
        <a class="login_title" href="">联系方式：18380537919 </a>
    </p>
    <p class="text-center login_title">2020-2021@Copy right 野生动物物种识别系统</p>
</div>